h1 {
    margin-top: 80px;
    text-align: center;
}

.container1 {
    color: #68696b;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 80%;
    height: 60%;
}

#accordion {
    width:99%;
}

.temp a{
    color: #474a4b;
}