.container1 {
    color: #68696b;
    /*background-color: #9fcdff;*/
    background-color: #f1f7fc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 80%;
    height: 60%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card {
    width: 99%;
    height: 99%;
    padding: 20px;
}

.align-content-end {
    bottom: 0;
    right: 0;
}