.container1 {
    color: #68696b;
    background-color: #f1f7fc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 80%;
    height: 60%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card {
    width: 99%;
    height: 99%;
    padding: 20px;
}

.align-content-end {
    bottom: 0;
    right: 0;
}

.activePage a {
    color: #6c88a6
}

.alert {
    position: absolute;
    z-index: 999999;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 35px 10px 14px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.d-flex{
    margin-bottom: 20px;
    margin-right: 20px;
}
.d-flex.flex-row{
    margin-right: 120px;
}