.login {
    background: #e3f2fd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 55%;
    height: 60%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}
h1{
    margin: 40px;
    text-align: center;
    font-size: 30px;
    color:#6f777f;
}
.container {
    background-color: #f1f7fc;
    color: #68696b;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    min-height: 90%;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card {
    width: 99%;
    height: 99%;
    padding: 20px;
}

.form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
}

.login form .btn-primary {
    background-color:#56baed;
    margin-left: 40px;
}
